package ${pkgName};

import java.util.ArrayList;
import java.util.Collections;
import java.util.List;


public enum ${className} {
#foreach ($item in $items)
	${item[0]}(${item[1]}, "${item[2]}"),
#end
	;


	${className}(Integer index,String desc){
		this.index = index;
		this.desc  = desc;
	}
	private Integer index;
	private String 	desc;

	public Integer getIndex() {
		return index;
	}
	public String getDesc() {
		return desc;
	}	
}